body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}

.pro {
  text-decoration: underline;
}

h1 {
  margin-top: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
  line-height: normal;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
  font-family: 'Itim', cursive;
  font-size: 130%;
}

.skill-photo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-photo2 {
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-left: 5px;
}

.profile-image {
  width: 20%;
  margin-top: 40px;
}

.intro {
 width: 30%;
 margin: auto;
 font-family: 'Itim', cursive;
 font-size: 150%;
}

hr {
  border: dotted #818f8f 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.button {
	box-shadow: 0px -1px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.credits {
  font-family: 'Itim', cursive;

}

.contact-message {
  font-family: 'Itim', cursive;
  font-size: 135%;
}

.getintouch {
  font-size: 170%;
}
